venv
ec2_gpu_setup_g5_amazon_linux.md
ec2_gpu_setup_preconfigured.md
ec2_gpu_setup.md
kernel.errors.txt
__pycache__/main.cpython-312.pyc
main.py.backup
change_guide.md
__pycache__/main.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__